header, main, aside, body, ul, li, div, html, h1, h2 {
  margin: 0;
  padding: 0; }

header {
  background-color: lightGreen; }

nav {
  height: 3em;
  background-color: seagreen; }
nav ul li {
  float: left;
  list-style: none; }

main {
  min-height: 30em;
  background-color: lightGrey; }

aside {
  background-color: lightBlue; }
aside li {
  height: 5em;
  list-style: none; }

body {
  background-color: darkGrey; }

footer {
  background-color: darkBlue;
  color: white; }

@media (min-width: 414px) {
  header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }

  nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    display: none; }

  main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }

  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }

  footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }
@media (min-width: 667px) {
  header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

  nav {
    display: block; }

  main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.10169%;
    float: left; }

  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.20339%;
    float: right;
    margin-right: 0; } }
@media (min-width: 1224px) {
  .layout {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto; }
  .layout:after {
    content: " ";
    display: block;
    clear: both; } }
