/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "partials/variables";
@import "partials/grids";
@import "breakpoint";

//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

//generalized styles------------------------------------------
@include susy-breakpoint($small, $susySmall) {
  body {
    p{
      font-weight: 400;
    }
    h1 {
      font-weight: 700;
      font-style: $openFont;
    }
  }
  button {
    padding: .5em 2em .5em 2em;
    background-color: $secondary;
    color: $primary;
    text-align: center;
    font-size: 1.2em;
    font-family: $bodyFont;
    margin-top: 2em;
    border: none;
    border-radius: 10px;
  }
  button:hover {
    background-color: $primary;
    color: white;
  }
  main.layout {
    min-height: 40em;
  }
  .layout {
    @include container(100%);
  }
  header {
    @include pad(5%);
    height: 7em;
    background-color: $primary;
    @include span(full);
    position: relative;
    img {
      float:left;
      margin:1em 0;
      margin-top: 1em;
      height: 5em;
    }
    #navBug {
      float: right;
    }
    #navBug:hover {
      cursor: pointer;
    }
    h1 {
      display: none;

    }
  }
  nav {
    display: none;
    background-color: $secondary;
    @include pad(5%);
    @include span(full);

    li {
      @include container(50%);
      font-family: $bodyFont;
      text-align: center;
      border-bottom: 1px solid white;
      padding-top: 1em;
      padding-bottom: 1em;

      a {
        color: white;
        text-decoration: none;
      }
    }
    li:last-child {
      border: none;
    }
  }
  .slider {
    display: none;
    @include pad(5%);
    @include span(full);
    height: 12em;
    background-image: url("../images/surf.jpg");
    background-size: cover;
  }
  .page-heading{
    padding-left:5%;
    padding-right:5%;
    h1 {
     margin-top: .75em;
     margin-bottom: .75em;
     float: left;
     font-size: 3em;
     font-family: $openFont;
     color: $primary;
    }
  }
  .content {
    ul {
      margin-left: 2.8em;
    }
    li {
      font-weight: 300;
      list-style: square;
    }
    .bold {
      font-weight: 400;
    }
  }
  main div.content{
    @include span(full);
    font-family: $bodyFont;
    font-size: 1.2em;
    line-height: 1.8em;
    color: $primary;
    @include pad(5%);
    padding-top: 2em;
    padding-bottom: 2em;
    h2 {
      font-size: 1.5em;
      margin-top: .5em;
      font-family: $openFont;
      color: $primary;
      // color: $secondary;
      line-height: 1.5em;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.25em;
      margin: .25em 0;
      margin-top: 1.2em;
      padding-left: 1em;
      border-left: 8px solid $secondary;
    }
  }
  //News Styles ------------>
  #newsContainer {
    @include pad(5%);
    @include span(full);
  }
  #newsPageContainer {
    @include pad(5%);
    @include span(full);
  }
  .news {
    h2 {
      font-size: 2.5em;
      font-family: $openFont;
      color: $primary;
      margin-top: 1em;
      line-height: .5em

    }
    article {
      img {
        @include span(full);
      }
      h3 {
        margin-top: 1.25em;
        margin-bottom: .25em;
        @include span (full);
        font-family: $titleFont;
        color: $secondary;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.25em;

      }
      h3:hover {
        color: darken($secondary, 10%);
      }
      .summary {
        @include span(full);
        margin-top: 1em;
        font-size: 1em;
        line-height: 1.2em;
        font-family: $bodyFont;
        color: $primary;
      }
      .post-link {
        color: $secondary;
        font-size: 1em;
        font-family: $bodyFont;
        float: right;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: right;
        text-decoration: none;
        //@include clearfix;
      }
      .post-link:hover {
        color: darken($secondary, 30%);
      }
      .post-date {
        font-weight: 700;
        margin-top: 1.5em;
        font-family: $bodyFont;
        color: $primary;
        @include span(full);
      }
      .post-date:before {
        content: ""
      }
    }
    .view-all {
      @include span(full);
      background-color: $primary;
      margin:.5em 0;
      padding-top: .5em;
      padding-bottom: .5em;
      a {
        text-align: center;
        padding: 0;
        font-family: $bodyFont;
        color: white;
        text-decoration: none;
      }
      a:hover{
        color: $secondary;
      }
    }
  }
  #newsSidebar {
    display: none;
  }
  //Events Styles ------------>
  #eventsPage {
    @include span(full);
  }
  .events {
    margin-top: 2em;
    @include span(full);
    @include pad(5%);
    background-color: $secondary;
    h2 {
      font-size: 2.5em;
      font-family: $openFont;
      color: $primary;
      margin: 1em 0;
      text-align: center;
      line-height: .5em;
    }
    section {
      // @include span(full);
      // @include squish(10%);
      float:left;
      width: 70%;
      margin: 0 15%;
      border-bottom: 1px solid $primary;
      margin-bottom: 4%;
      padding-bottom: 4%;
      .date {
        width: 33%;
        float: left;
        border-right: 1px solid $primary;
        font-family: $bodyFont;
        color: $primary;
        .date-day {
          font-weight: 500;
          font-size: 400%;
          text-align: center;
        }
        .date-month {
          font-size: 1.2em;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .details {
        width: 62%;
        float: right;
        font-family: $bodyFont;
        color: $primary;
        .date-time {
          font-weight: bold;
        }
      }
    }
    section:last-child {
      border: none;
    }
    .view-all {
      background-color: $secondary;
      color: $primary;
      @include span(full);
      padding: 0 5%;
      text-align: center;
      text-decoration: none;
      font-family: $bodyFont;
      margin-bottom: 1em;
    }
    .view-all:hover {
      color: darken($primary, 30%);
    }
  }
    //LBRN Events Styles ------------>
  .lbrn-event-wrapper {
    @include span(full);
    margin-bottom: 2%;
    section {
      background-color: lighten($secondary, 25%);
      @include span(90%);
      margin:2% 5% 0 5%;
      min-height: 38em;
      position: relative;
      img {
        @include span(full);
        width: 100%;
      }
      h2 {
        @include span(95%);
        padding: 2.5%;
        font-size: 2.1em;
        line-height: 1.2em;
        color: $primary;
        font-weight: 700;
        font-family: $titleFont;
      }
      p {
        @include span(95%);
        padding: 2.5%;
        color: $primary;
        font-family: $bodyFont;
        line-height: 1.25em;
        &.more {
          @include span(full);
          background-color: lighten($secondary, 15%);
          text-align: center;
          text-transform: capitalize;
          padding-top: .5em;
          padding-bottom: .5em;
          position: absolute;
          bottom:0;
        }
        &.more:hover {
          color: lighten($primary, 20%);
        }
      }
    }
  }
  #lbrnEventHeader {
    background-color: lighten($secondary, 20%);
    @include span(full);
    img {
      @include span(full);
      width: 100%;
      height: none;
    }
    div.caption{
      @include span(full);
      padding-left: 5%;
      padding-top: 1.5em;
      padding-bottom: 2em;
      // .post{
      //   text-align: center;
      // }
      h1 {
        font-size: 2.4em;
        line-height: 1.2em;
        font-family: $titleFont;
        color: $primary;
      }
      p {
        font-size: 1.2em;
        font-family: $bodyFont;
        color: $primary;
        margin-top: .5em;
      }
      #date {
        font-family: $openFont;
        font-weight: 300;
        font-size: 1.25em;
        line-height: 1em;
      }
      button {
        margin-top: 1em;
        width: 95%;
      }
    }
  }
  #eventSummary, #eventWhenAndWhere, #eventLodgingAndExpenses, #eventParticipants, #eventRegistration, #eventArchiveMedia {
    position: relative;
    h2{
      padding-left: .4em;
      padding-right: 1.5em;
    }
  }

  .collapse {
    height: 0;
    overflow: hidden;
  }
  .expand {
    height: inherit;
    overflow: visible;
  }
  .event-section-head {
    background-color: $secondary;
  }
  .collapseTrigger{
    display: block;
    position: absolute;
    top: .1em;
    right: .1em;
  }
  #lbrnEventSidebar {
    display: none;
  }
  //Footer Styles ------------>
  footer {
    @include span(full);
    @include pad(5%);
    background-color: $primary;
    .layout {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
    p {
      margin-top: .5em;
      float: left;
      color: white;
      line-height: 2em;
      font-family: $bodyFont;
      font-size: .75em;
      width: 50%;
      min-width: 15em;

    }
    span {
      font-style: italic;
      font-weight: bold;
    }
  }
} //Small Query------------------------------------------
@include susy-breakpoint($medium, $susySmall) {
  // Main Styles!!
  .slider {
    height: 18em;
  }
} //Medium Query------------------------------------------
@include susy-breakpoint($standard, $susy) {

  // Main Styles!!
  header {
    height: 10em;
    width: 100%;
    padding: 0;
    .layout {
      @include container(90%);
      position: relative;
    }
    img {
      height: 8em;
    }
    h1 {
      color: white;
      font-family: $openFont;
      font-weight: 700;
      font-size: 2em;
      display: block;
      position: absolute;
      bottom: .75em;
      right: 0;
      margin-left: 40%;
      text-align: right;
    }
    #navBug {
    display: none;
    }
  }
  nav {
    background-color: $secondary;
    display: block;

    li {
      // @include span(1);
      width: auto;
      float: left;
      margin-right: 2em;
      font-family: $bodyFont;
      font-size: 1.2em;
      border: none;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .slider {
    display: block;
    width: 100%;
    height: 25em;
  }

  //News Styles ------------>
  #newsContainer {
    @include span(7);
    @include prefix(5%);
    padding-right: 0;
  }
  #newsPageContainer{
    @include span(9);
    padding-right: 0;
  }
  .news {
    article {
      &.spacers {
        @include span(full);
          margin-bottom: 1.5em;
      }
      .sideTitle {
        @include span(8 at 5);
        font-size: 2em;
        line-height: 1em;
        margin-top: 0;
        padding-top: 0;
      }
      img {
        @include span(4);
      }
      .summary {
        margin-top: 0;
        @include span(last 8);
      }
      .post-link {
        @include span(last 8);
      }
      .post-date {
        margin-bottom: .5em;
        margin-top: 0;
        @include span(last 8);
      }
    }
  }
  #newsSidebar {
    display: block;
    @include span(last 3);
    ul {
      border: 1px solid $secondary;
      li {
        font-family: $bodyFont;
        color: $primary;
        text-align: center;
        padding: .5em 0;
      }
      li:nth-child(2n){
        background-color: lighten($secondary, 15);
      }
    }
  }
  //Events Styles ------------>
  #eventsContainer {
    @include span(full);
    background-color: white;
  }
  .events {
    margin-top: 0;
    @include span(last 5);
    @include pad(5%);
    padding-left: 0;
    h2 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    section {
      width: 90%;
      margin: 0 5%;
      margin-bottom:1.5em;
      padding-bottom: 1.5em;
      .date {
        width: 33%;
        .date-day {
          font-size: 400%;
        }
        .date-month {
          font-size: 1.5em;
        }
      }
    }
  }
  //LBRN Events Styles ------------>
  .lbrn-event-wrapper {
    @include span(90%);
    margin-left: 5%;
    margin-right: 5%;


    section {
      margin-left: 0;
      margin-right: 0;
      @include span(6);
    }
    section:nth-child(2n) {
      @include span(last 6);
    }
  }
  #lbrnEventHeader {
    img {
      @include span(last 6);
    }
    div.caption{
      @include span(6);
      min-height: 100%;
      h1 {
        font-size: 2.4em;
        line-height: 1.2em;
        font-family: $titleFont;
        color: $primary;
      }
      p {
        font-size: 1.2em;
        font-family: $bodyFont;
        color: $primary;
        margin-top: .5em;
      }
    }
  }
  #matchHeight{
    @include span(9);
  }
  #eventSummary, #eventWhenAndWhere, #eventLodgingAndExpenses, #eventParticipants, #eventRegistration, #eventArchiveMedia {
    @include span(full);
    overflow: hidden;
    h2{
      padding-left: 0;
      background-color: white;
    }
  }
  .collapseTrigger{
    color: white;
  }
  .collapse {
    height: inherit;
  }
  #lbrnEventSidebar {
    display: block;
    padding: 0;
    margin: 0;
    @include span(last 3);
    background-color: $secondary;
    height: 3000px;
    position: relative;
    ul {
      @include span(full);
      position: -webkit-sticky;
      position: sticky;
      padding-top: 1em;
      top: 2em;
      z-index: 1000;
      li {
        @include span(full);
        list-style: none;
        margin-bottom: 1em;
      }
      a {
        @include span(full);

        text-decoration: none;
        color: $primary;
        text-align: center;
        text-transform: capitalize;
      }
    }
    .active {
      background-color: lighten($secondary, 15%);
      font-weight: 400;
    }
  }
} // Standard Query ----------------------------------------
@include breakpoint($intermediate) {
  .lbrn-event-wrapper {
    @include span(90%);
    margin-left: 5%;
    margin-right: 5%;
    section {
      margin-left: 0;
      margin-right: 0;
      @include span(4);
    }
    section:nth-child(2n) {
      @include span(4);
    }
    section:nth-child(3n) {
      @include span(last 4);
    }
  }
  .caption {
    h1 {
      margin-top: 1.3em;
    }
    p {
      line-height: 1.6em;
    }
  }
}// Intermediate Query ------------------------------------
@include breakpoint($large) {
  // Main Styles!!
  .layout {
    margin: 0;
    @include container(85%);
    padding: 0;
  }
  main div.content{
    padding-left: 0;
    padding-right: 0;
  }
  header {
    padding: 0;
    .layout {
      @include container(85%);
    }
    h1 {
      font-size: 2.5em;
    }
  }
  #newsPageContainer {
    padding-right: 0;
  }
  .lbrn-event-wrapper {
    margin: 0;
    @include span(full);
  }
  nav {
    padding: 0;
  }
  footer {
    padding: 0;
    @include span(full);
  }
} // large Query ----------------------------------------
@include breakpoint($highDef) {
  .layout {
    @include container(80%);
  }
} // large Query ----------------------------------------


// TEMPORARY:  Testing purposes only----------------------



//------------------------------------------------------------------------------
