// Requirements
// ============

@import "susy";

//breakpoints
$highDef: 1500px;
$large: 1224px;
$intermediate: 860px;
$standard: 667px;
$medium: 414px;
$small: 0;

$susy: (
  columns: 12,
  gutters: 1/4,
  box-sizing: border-box,
);
$susySmall: (
  columns: 6,
  gutters: 1/4,
  box-sizing: border-box,
);
